<h1>{{titulo}}</h1>

<span>{{numero}}</span>
<div class="p-10">
  <strong>{{base}}</strong>


</div>
<button  (click)="acumular(base)" >+5</button>
<button  (click)="acumular(-1)" 
class="border rounded border-red-700 shadow-sm p-16 hover:bg-green-400"

>-5</button>


<div class="p-15">
<button class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-lg text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    Button text
  </button>

</div>